.WelcomContainer {
    width: 100%;
    gap: 10px;
    padding: 0rem 2rem;
    justify-content: space-around;
    overflow: visible !important;
}
.ul-welcom {
    list-style: circle;
    color: #444;
    width: 90%;
    padding: 1rem;
    height: 60%;
}

.ul-welcom li {
    line-height: 1.45em !important;
    color: #444 !important;
    list-style: decimal !important;
    width: 100%;
}
.w-first-image{
    min-width: 300px;
    min-height: 200px;
}
@media (max-width: 768px) {
    .ul-welcom li {
    font-size: 18px !important;
    line-height: 1.45em !important;
    color: #444 !important;
    list-style: decimal !important;
    width: 100%;
    text-align: start;
}
.WelcomContainer{
    min-height: unset !important;
    padding: 0 !important;
}
}

.scroll-reveal-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px !important;
}