.TimeBox-container{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.time-box {
  display: inline-block;
  margin: 20px;
  text-align: center;
  position: relative;
  min-width: 400px;
  align-items: center;
  justify-content: center;
}

.minutes {
  font-size: 90px;
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 2px #2b1b1b; 
  font-family: 'Nunito', sans-serif; 
  display: block;
  font-family: var(--e-global-typography-primary-font-family) !important;

}

.time-box p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #2b1b1b;
  font-family: 'Nunito', sans-serif;
}

.time-paragragh{
  position: absolute;
  top: 40%;
  width: 100%;
  left: 5%;
  background-color: white;
  z-index: 1000;
  color: #80676d !important;
  font-size: large !important;
}