.homewaitingContainer{
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/Images/LivingRoom.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: var(--e-global-typography-primary-font-family);
    font-weight: bolder;
}

.sch-btn{
    width: 200px;
    border: none;
    padding: 10px;
    border-radius: 20px;
        font-weight: bolder;

    background-color: white;
    color: black;
        font-family: var(--e-global-typography-primary-font-family);

}